<!DOCTYPE html>
<html lang="en">

<body>
  {{ partial "head.html" . }}
  {{ partial "nav.html" . }}


  <section class="container">
    <div class="heading">
      <!-- Heading -->
      <h2>{{ .Title }}</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{ range .Params.Images }}
          <div data-image="{{ .image | absURL }}">
            <img class="img-fluid w-100" src="{{ .image | absURL }}" alt="product-img">
          </div>
          {{ end }}
      </div>
    </div>
  </section>
  

  {{ partial "footer.html" . }}
  {{ partial "script.html" . }}
</body>
</html>
