{{ if .Site.Data.home.contact.enable }}
{{with .Site.Data.home.contact}}
<section id="{{ .title }}" class="contacts page-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading text-center">
					<!-- Heading -->  
					<h2>{{ .title }}</h2> 
				</div>
				<div class="heading text-left">
					<h3>{{ .sub_title }}</h3>              
					<p>{{ .desc }}</p>
				</div>                                            
			</div>
		</div>
		<div class="row font2x">
			<div class="col-md-12">
				Email: {{ .email}}
			</div>
			<div class="col-md-12">
				Contact Number: <a href="https://api.whatsapp.com/send?phone=6{{.phone}}"><i class="fa fa-phone"></i>{{.phone}}</a>
			</div>
		</div><!--/.row-->
	</div><!--/.container-->
</section>
{{ end }}
{{ end }}