{{ if .Site.Data.home.product.enable }}
{{with .Site.Data.home.product}}
<section class="news-box">
  <div class="container">
      <h2><span>{{ .title }}</span></h2>
      <div class="row">
        {{end}}
{{end}}
      {{ range .Site.RegularPages }}
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="newsBox">
            <div class="thumbnail">
              <figure><time>{{.Title}}</time><img src="/images/{{ .Params.img }}.jpg" alt=""></figure>
              <div class="caption maxheight2"><div class="box_inner">
                 {{ .Summary }}
              </div></div>
            </div>
          </div>
        </div>
      {{end}}
    </div>
  </div>
</section> 
