<!DOCTYPE html>
<html lang="en">

<body class="revealscroll" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
	{{ partial "head.html" . }}
	{{ partial "nav.html" . }}
    {{ partial "hero.html" . }}
    {{ partial "about.html" . }}
    {{ partial "facilities.html" . }}

    


    <section class="fourth-sec">
        <div class="privatepeaceful-wrap container">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper ao-carousel-top swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">

                <div class="swiper-button-next ao-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-36b56ae4cdadbaaf"></div>
                <div class="swiper-button-prev ao-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-36b56ae4cdadbaaf"></div>
                <div class="swiper-wrapper" id="swiper-wrapper-36b56ae4cdadbaaf" aria-live="off" style="transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2" role="group" aria-label="3 / 3" style="width: 1200px; opacity: 0; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                        <picture>
                            <source srcset="./assets/bg_pattern2.png" type="image/png">
			                <img src="./assets/bg_pattern2.png" type="image/png">
                        </picture>
                    </div>
                    <div class="swiper-slide swiper-slide-visible swiper-slide-active" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 1200px; opacity: 1; transform: translate3d(-1200px, 0px, 0px); transition-duration: 0ms;">
                        <picture>
                            <source srcset="img/10038.png" type="image/png">
                            <img src="img/10038.png" type="image/png">
                        </picture>
                    </div>
                    <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" role="group" aria-label="2 / 3" style="width: 1200px; opacity: 0; transform: translate3d(-2400px, 0px, 0px); transition-duration: 0ms;">
                        <picture>
                            <source srcset="img/10039.png" type="image/png">
                            <img src="img/10039.png" type="image/png">
                        </picture>
                    </div>
                    <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="2" role="group" aria-label="3 / 3" style="width: 1200px; opacity: 0; transform: translate3d(-3600px, 0px, 0px); transition-duration: 0ms;">
                        <picture>
                            <source srcset="img/10040.png" type="image/png">
                            <img src="img/10040.png" type="image/png">
                        </picture>
                    </div>
                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 1200px; opacity: 0; transform: translate3d(-4800px, 0px, 0px); transition-duration: 0ms;">
                        <picture>
                            <source srcset="img/10041.png" type="image/png">
                            <img src="img/10041.png" type="image/png">
                        </picture>
                    </div></div>
                <!-- <div class="swiper-button-next pp-next"></div>
                <div class="swiper-button-prev pp-prev"></div> -->
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>


            <div thumbsslider="" class="swiper ao-carousel-btm swiper-initialized swiper-horizontal swiper-pointer-events swiper-autoheight swiper-backface-hidden" effect="flip">

                <div class="swiper-wrapper ao-carousel-btm-wrapper" style="transition-duration: 0ms; transform: translate3d(-1200px, 0px, 0px); height: 300px;" id="swiper-wrapper-8f2e3958b8426728" aria-live="polite"><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2" role="group" aria-label="3 / 3" style="width: 1200px;">
                        <div class="ao-content">
                            <div class="ao-left">
                                <h3>FURNISHINGS &amp; FITTINGS</h3>
                                <p class="p-subtitle">Feel right at home with ease</p>
                            </div>
                            <div class="ao-right">
                                <p>Moving in and making a home is a breeze at Arica. The apartments come with everything
                                    you need to get started, from fully fitted bathrooms and built-in cabinets to
                                    essential appliances and furniture. Since design, function and durability are
                                    hallmarks of E&amp;O’s quality standards, you can expect a living space that is
                                    tastefully fitted and furnished with quality materials and natural finishes. For
                                    instance, the master bathroom features double sinks while the living area and
                                    bedrooms showcase stylish herringbone timber floors, an E&amp;O signature. With most of
                                    the heavy lifting taken care of, you can turn your attention to simply enjoying your
                                    new home.</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide-visible swiper-slide-active" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 1200px;">
                        <div class="ao-content">
                            <div class="ao-left">
                                <h3>APARTMENT OVERVIEW</h3>
                                <p class="p-subtitle">The fundamentals of an inviting home</p>
                            </div>
                            <div class="ao-right">
                                <p>Experience quality and spaciousness that is synonymous with E&amp;O. Sunlit and airy
                                    rooms created by high ceilings and generous windows, quality finishes and attention
                                    to detail are all keys to an uplifting living space. Arica’s design ethos is one of
                                    stylish simplicity that feels modern and uncluttered, with an enduring appeal that
                                    will carry you through many years to come. Arica’s two- and three- bedroom
                                    apartments come fully furnished, complete with essential fittings, built-in
                                    cabinets, appliances and furniture that has been designed and curated with care.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" role="group" aria-label="2 / 3" style="width: 1200px;">
                        <div class="ao-content">
                            <div class="ao-left">
                                <h3>DESIGN &amp; LAYOUT</h3>
                                <p class="p-subtitle">Thoughtful design for optimal living</p>
                            </div>
                            <div class="ao-right">
                                <p>A place for everything and everything in its place, as the saying goes. A
                                    well-designed and organised home is indeed a happier one. Arica’s intuitive floor
                                    plan creates well-defined zones for activity and relaxation, socialising and
                                    privacy. The layouts make the most of every space, producing rooms and hallways that
                                    maximise functionality and flow. A must for effective organisation and keeping a
                                    clutter-free home, a dedicated utility room is provided. The yard can offer even
                                    more storage and is perfect as a seasoned cook’s wet kitchen or a laundry room.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="2" role="group" aria-label="3 / 3" style="width: 1200px;">
                        <div class="ao-content">
                            <div class="ao-left">
                                <h3>FURNISHINGS &amp; FITTINGS</h3>
                                <p class="p-subtitle">Feel right at home with ease</p>
                            </div>
                            <div class="ao-right">
                                <p>Moving in and making a home is a breeze at Arica. The apartments come with everything
                                    you need to get started, from fully fitted bathrooms and built-in cabinets to
                                    essential appliances and furniture. Since design, function and durability are
                                    hallmarks of E&amp;O’s quality standards, you can expect a living space that is
                                    tastefully fitted and furnished with quality materials and natural finishes. For
                                    instance, the master bathroom features double sinks while the living area and
                                    bedrooms showcase stylish herringbone timber floors, an E&amp;O signature. With most of
                                    the heavy lifting taken care of, you can turn your attention to simply enjoying your
                                    new home.</p>
                            </div>
                        </div>
                    </div>


                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 1200px;">
                        <div class="ao-content">
                            <div class="ao-left">
                                <h3>APARTMENT OVERVIEW</h3>
                                <p class="p-subtitle">The fundamentals of an inviting home</p>
                            </div>
                            <div class="ao-right">
                                <p>Experience quality and spaciousness that is synonymous with E&amp;O. Sunlit and airy
                                    rooms created by high ceilings and generous windows, quality finishes and attention
                                    to detail are all keys to an uplifting living space. Arica’s design ethos is one of
                                    stylish simplicity that feels modern and uncluttered, with an enduring appeal that
                                    will carry you through many years to come. Arica’s two- and three- bedroom
                                    apartments come fully furnished, complete with essential fittings, built-in
                                    cabinets, appliances and furniture that has been designed and curated with care.</p>
                            </div>
                        </div>
                    </div></div>


                <div class="swiper-pagination ao-pagination-btm swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" aria-current="true"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

        </div>
        

        <div class="bg-pattern">
            <picture>
                <source srcset="./assets/bg_pattern.png" type="image/png">
                <img src="./assets/bg_pattern.png" type="image/png">
            </picture>
        </div>
    </section>

    <section class="eigth-sec">
        <video class="video-wrap-tp" poster="img/10053.png" controls="">
            <source src="img/arica-vid.mp4" type="video/mp4">
        </video>

    </section>



    <div class="chat-wrap">
        <a href="https://api.whatsapp.com/send?phone=60134088999" target="_blank">
            <div class="chat-btn-style">
                <div class="ct-icon-wrap">
                    <img src="./assets/chat-icon.png">
                </div>
                <div class="chat-text">CHAT</div>
            </div>
        </a>
    </div>

    <section class="contact-form-minisite">
        <div class="container">
            <div class="cfm-title">CONTACT FORM</div>
            <form action="https://www.easternandoriental.com/arica/#" class="cfm-form-style" id="formandaman">
                <div class="cfm-row">
                    <div class="cfm-input">
                        <input type="text" id="cfm-name" name="name" required="">
                        <label for="cfm-name">NAME</label>
                    </div>
                    <div class="cfm-input">

                        <input type="text" id="cfm-email" name="email" required="">
                        <label for="cfm-email">EMAIL</label>
                        <p id="errEmai" style="font-size:18px; font-weight:bold; color:red;"></p>
                    </div>
                    <div class="cfm-input">
                        <input type="text" id="cfm-mobile" name="mobile" required="">
                        <label for="cfm-mobile">MOBILE</label>
                        <p id="errMobi" style="font-size:18px; font-weight:bold; color:red;"></p>
                    </div>
                </div>
                <div class="cfm-input select-style">
                    <div class="cfm-select" name="select-topics">
                        <select required="" name="select-topics" id="select-topics">
                            <option value="ARICA" selected="selected">ARICA</option>
                            <option value="ARICA">ARICA</option>
                            <option value="ANDAMAN">ANDAMAN</option>
                            <option value="The Meg">THE MEG</option>
                        </select>
                    <div class="select-selected">ARICA</div><div class="select-items select-hide"><div>ARICA</div><div>ANDAMAN</div><div>THE MEG</div></div></div>


                </div>

                <div class="cfm-input textarea-style">

                    <textarea id="subject" name="subject" required="" rows="1" style="height: 22px;"></textarea>

                    <label for="subject">HOW CAN WE HELP YOU?</label>
                </div>

                <div class="cfm-radio-wrap">
                    <label class="cfm-radio">
                        <input type="checkbox" checked="" class="checkbox-style" required="">
                        <span class="checkmark"></span>
                        I hereby agree to receive updates and communications from E&amp;O.
                    </label>

                    <label class="cfm-radio">
                        <input type="checkbox" checked="" required="">
                        <span class="checkmark"></span>
                        <div>I have read and agree to the <a href="https://www.easternandoriental.com/disclaimer.php" target="_blank" class="cfm-termscond"> COMPAMYPrivacy Policy and Terms and Conditions.</a>
                        </div>
                    </label>

                </div>
                <div class="cfm-btn-wrap">
                    <input type="submit" value="SUBMIT" class="cfm-btn">
                </div>
                <br>
                <div class="container_suc">
                    <div class="center_suc">Successfully Sent</div>
                </div>

                <div class="container_ero">
                    <div class="center_ero">Invalid Details</div>
                </div>

            </form>
        </div>
    </section>
	{{ partial "footer.html" . }}
	{{ partial "script.html" . }}
   

	
</body>
</html>
